{% extends 'base.html' %}

{% block navbar %}
<li class="active"><a href="/profile">Profile</a></li>
<li><a href="/monitor">Monitor</a></li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<form class="form-horizontal" method="post">
			<fieldset>
				<legend>Get your Unified OpenVPN Profile</legend>
				{% if error %}
				<div class="alert alert-dismissible alert-danger">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Oh snap!</strong> This token doesn't seem to be valid :(
				</div>
				{% endif %}
				<div class="form-group{% if error %} has-error{% endif %}">
					<label for="token" class="col-lg-2 control-label">Access Token</label>
					<div class="col-lg-10">
						<input type="text" class="form-control input-lg" id="token" name="token" placeholder="Access Token" value="{{ token }}">
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="submit" class="btn btn-success btn-raised pull-right">Get Profile</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<div class="row" style="margin-top:30px">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-body">
				<h2>Installing your Unified Profile</h2>
				<h3>Installing</h3>
				<p>
					The OpenVPN client application for Windows can be found on <a href="https://openvpn.net/index.php/open-source/downloads.html" target="_blank">OpenVPN's Downloads page</a>.
					Choose the appropriate installer version for your version of Windows.
				</p>
				<p>After installing OpenVPN, copy your unified profile to:</p>
				<p><b>C:\Program Files\OpenVPN\config</b></p>
				<p>When you launch OpenVPN, it will automatically see the profile and makes it available.</p>
				<p>
					OpenVPN must be run as an administrator each time it's used, even by administrative accounts.
					To do this without having to right-click and select <b>Run as administrator</b> every time you use the VPN,
					you can preset this but it must be done from an administrative account.
					This also means that standard users will need to enter the administrator's password to use OpenVPN.
					On the other hand, standard users can't properly connect to the server unless OpenVPN on the client has admin rights, so the elevated privileges are necessary.
				</p>
				<p>
					To set the OpenVPN application to always run as an administrator, right-click on its shortcut icon and go to <b>Properties</b>.
					At the bottom of the <b>Compatibility</b> tab, click the button to <b>Change settings for all users</b>. In the new window, check <b>Run this program as an administrator</b>.
				</p>
				<h3>Connecting</h3>
				<p>
					Each time you launch the OpenVPN GUI, Windows will ask if you want to allow the program to make changes to your computer. Click Yes.
					Launching the OpenVPN client application only puts the applet in the system tray so the the VPN can be connected and disconnected as needed;
					it does not actually make the VPN connection.
				</p>
				<p>
					Once OpenVPN is started, initiate a connection by going into the system tray applet and right-clicking on the OpenVPN applet icon.
					This opens the context menu. Select your unified profile at the top of the menu and choose <b>Connect</b>.
				</p>
				<p>
					A status window will open showing the log output while the connection is established, and a message will show once the client is connected.
				</p>
				<p>
					Disconnect from the VPN the same way: Go into the system tray applet, right-click the OpenVPN applet icon, select the client profile and click <b>Disconnect</b>.
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
